name: Check published links
on:
  workflow_dispatch:
  schedule:
    # Run on Mondays at 5:45 UTC
    - cron: '45 5 * * 1'

jobs:
  build:
    name: Build
    uses: Logius-standaarden/Automatisering/.github/workflows/link-checker.yml@pr-timvdlippe-nieuwe-link-checker
